# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js build output
.next/
out/
build/
dist/
*.tsbuildinfo

# Misc
.DS_Store
*.pem
*.log

# Environment variables
.env*
!.env.example

# WhatsApp Web.js sessions and cache
.wwebjs_auth/
.wwebjs_cache/

# Archives
*.zip

